h1 {
    color: dodgerblue;
}

body {
    background-color: rgba(255, 252, 240, 0.795);
}

p {
    color: black;

}

img {
    width: 200px;

}

table {
    align-items: center;

}